
    <div class= "post-inner-box"> 
        <p><h1>How to link url image</h1><p>
        <p>Step 1: Go to <a href="https://imgur.com/">Imgur</a> and add images.</p>
        <img src="https://i.imgur.com/Q171OGP.png" class="post-img" alt="Imgur upload image">
    </div>

    <div class= "post-inner-box"> 
        <p>Step 2: Click on an image and copy the Direct Link.</p>
        <img src="https://i.imgur.com/y6bIe0A.png" class="post-img" alt="Copy direct link">
    </div>

    <div class= "post-inner-box"> 
        <p>Step 3: Paste the url into the image field of your post or user and pet profiles!</p>
        <img src="https://i.imgur.com/nbcaPJh.png" class="post-img" alt="Paste into image url field">
    </div>     
</div>