<% @posts.each do |post| %>
<div class="row">
    <div class="col-sm-3">
        <div class="well">
           <p><%= post.user.name %></p>
           <img src="https://ichef.bbci.co.uk/news/1024/cpsprodpb/43D8/production/_111686371_pic1.png" class="img-circle" height="55" width="55" alt="Avatar">
        </div>
    </div>
    <div class="col-sm-9">
          <div class="well">
            <% if post.image %>
                <p><%= image_tag post.image, class: "img-fluid" %></p>
            <% end %>
            <p><%= post.title %></p>
            <p><%= post.content %></p>
          </div>
    </div>
</div>
<% end %>
